name: CI/CD Pipeline

on:
  push:
    branches:
      - development  # Change this if needed
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Debug - List Files
        run: ls -R

      - name: Install Backend Dependencies
        working-directory: backend-project
        run: npm install

      - name: Install Frontend Dependencies
        working-directory: frontend-project
        run: npm install

      - name: Run Backend Tests
        working-directory: backend-project
        run: npm test

      - name: Run Frontend Tests
        working-directory: frontend-project
        run: npm test

      - name: Deploy
        run: echo "Deploying..."
