name: CI/CD Pipeline

on:
  push:
    branches:
      - development  # Change this to 'dev' if you want to test in another branch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install Dependencies
        run: npm install

      - name: Run Tests
        run: npm test

      - name: Deploy
        run: echo "Deploying..."


